{% extends 'base.html' %}
{% block title %}
小黑人水上運動中心
{% endblock %}
{% block titlemessage %}
    <h1>WELLCOME TO 小黑人水上運動中心</h1>
{% endblock %}
{% block content %}
  <table class="table table-dark">
    <tr><th>編號</th><th>主題</th><th>標題</th><th>張貼時間</th></tr>
    {% for post in posts %}
    <tr>
      <td>
        {{ post.id}}
      </td>
      <td>
        <a href="/post/{{post.slug}}/">{{ post.title }}</a>
      </td>
      <td>
        {{ post.slug }}
      </td>
      <td>
        {{ post.pub_date }}
      </td>
    </tr>
    {% endfor %}
  </table>
  本網頁被瀏覽了{{ hit_count }}次
{% endblock %}